*, 
::before, 
::after {
    box-sizing: border-box;    
}

body {
    background-color: rgb(253, 243, 229);
}

.title {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
}
